@use '../abstract/variables' as *;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    //prevents horizontal scroll if emelemts accidently pokes out
    overflow: hidden;
    background-color: $bg-charcoal;
}

.root {
    height: 100%
}