@use '../abstract/variables' as *;

.terminal-shell {
    width: 100%;
    background-color: #1a1a1a; // Darker terminal background
    font-family: $code-font, monospace;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    //to keep history from taking over the whole screen
    height: 30vh;

    //to allow the history to scroll internally
    overflow-y: hidden;

    .prompt-label {
        color: $terminal-green; // Classic terminal green
        margin-right: 10px;
        font-weight: bold;
    }

    &__history {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 10px;
        overflow-y: auto;

        .history-group {
            margin-bottom: 5px;
        }

        .history-text { color: #fff; }
        .response-line {
            color: $terminal-green;
            margin-left: 2rem;
            margin-bottom: 10px;
            opacity: 0.9;
        }
    }

    &__input-container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.3);
        
        // --- Green Glow ---
        border: 1px solid rgba(76, 175, 80, 0.4);
        box-shadow: 
            inset 
                0 0 5px rgba(76, 175, 80, 0.2),
                0 0 10px rgba(76, 175, 80, 0.3),
                0 0 20px rgba(75, 175, 80, 0.1);

        border-radius: 4px;

        .active-input {
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            font-family: inherit;
            font-size: 1rem;
            caret-color: $terminal-green; // Green blinking 
            
            &::placeholder {
                color: rgba(76, 175, 80, 0.3);
            }
        }
    }
}