@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/mixins' as *;


// 1. Base Block
.secret-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 2rem;
  
  width: 100%;
  overflow: hidden; // This explicitly disables vertical and horizontal scrolling
  
  padding: 1.5rem;
  box-sizing: border-box;

  @include respond-to("desktop") {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center; 
    align-content: center;
    padding: 0 10%;
    gap: 4rem;
    
    // Extra safety for 1920x1080 screens
    max-height: calc(100vh - 130px);
  }
}