@use '../../assets/styles/abstract/mixins' as *;
@use '../../assets/styles/abstract/variables' as *;

.navbar {
    position: fixed; //or Sticky
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:fit-content;
    padding: 0;

    @media (min-width: 768px) {
        width: 100%;
        
    }

    &__container {
        @include glass-engine;

        //Blur - adds/removes the frosted look
        //Opacity - adds/removes the white tint

        //Explicitly set the variables here
        --card-blur: 25px; //Thinner blur for the nav. 0 for total see through
        --card-opacity: 0.1; // very subtle glass

        // Ensure the mixin's background uses the variable
        background: rgba(255, 255, 255, var(--card-opacity));

        &::before {
            // Force the pseudo-element to look at the parent's variables
            // Scope - sometimes variables defined in a class don't pierece into the ::before pseduo-element
            //         if the mixin also defines the default values
            backdrop-filter: blur(var(--card-blur)) !important;
            --webkit-backdrop-filter: blur(var(--card-blur)) !important;
        }

        background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.05) 0%,
            transparent 100%
        );

        border: none;
        outline: none;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.75rem 1.0rem;
        border-radius: 50px; // pill shape to follow modern styles
        max-width: 400px;
        margin: 0 auto;

        @media (min-width: 768px) {
            justify-content: space-between;
            padding: 0.75rem 1.5rem;
            max-width: 800px;
        }
    }

    &__logo {
        font-weight: 500;
        text-decoration: none;
        font-family: $code-font;
        color: rgba($blob-cyan, 0.9);
        letter-spacing: 2px;

         &:hover {
            color: rgba($blob-purple, 0.9) !important;

        }

        @media (min-width: 768px) {
            font-weight: 800;
            font-size: large;
        }
    }

    &__list {
        display: flex;
        margin-left: 10px;
        gap: 1rem;


        @media (min-width: 768px) {
            gap: 2rem;
        }
    }

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        font-family: $main-font;
        transition: all 0.3s ease;
        display: inline-block;
        position: relative;
        color: rgba($blob-purple, 0.90);

        @media (min-width: 768px) {
            font-size: large;
        }

        &:hover {
            color: rgba($blob-cyan, 0.5) !important;

            text-shadow: 
                0 0 10px rgba($blob-purple, 0.90),
                0 0 20px $blob-purple,
                0 0 30px rgba($blob-purple, 0.5);

            transform: scale(1.05);

        }

    }
}
