@import './assets/styles/variables';

body {
    background-color: $bg-charcoal;
    color: $terminal-green;
    font-family: $code-font;
    margin: 0;
    overflow-x: hidden;
}


// Global Hacker link style
a {
    color: $cyber-blue;
    text-decoration: none;

    &:hover {
        text-shadow: $neon-glow;
    }
}