// Abstract (No CSS output, just tools and variables
@use '/src/assets/styles/abstract/variables' as *;

// Base (Gloabl Reset)
@use '/src/assets/styles/base/reset';

// Layout (The Skeleton
@use '/src/assets/styles/layout/layout';


body {
    background-color: $bg-charcoal;
    color: $terminal-green;
    font-family: $code-font;
    margin: 0;
    overflow-x: hidden;
}


// Global Hacker link style
a {
    color: $cyber-blue;
    text-decoration: none;

    &:hover {
        text-shadow: $neon-glow;
    }
}