// Abstract (No CSS output, just tools and variables
@use '/src/assets/styles/abstract/variables' as *;

// Base (Gloabl Reset)
@use '/src/assets/styles/base/reset';

// Layout (The Skeleton
@use '/src/assets/styles/layout/layout';

// Pages & Components (Add any new components style sheets here
@use '/src/components/Navbar/navbar';
@use '/src/components/Terminal/terminal';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    position: relative;
    background: #0a0e14;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
    min-height: 100vh;
    overflow: hidden;

}

