// Abstract (No CSS output, just tools and variables
@use '/src/assets/styles/abstract/variables' as *;

// Base (Gloabl Reset)
@use '/src/assets/styles/base/reset';

// Layout (The Skeleton
@use '/src/assets/styles/layout/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-charcoal;
}

.main-content {
    flex: 1; // This pushes the CommandInput to the very bottom
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    color: $terminal-green;
    font-family: $code-font;
}

// Ensure your Navbar has the glow line
.navbar {
    border-bottom: 1px solid rgba($cyber-blue, 0.3); // Adjust color to your $cyber-blue
    box-shadow: 0 4px 20px rgba($terminal-green, 0.2);
    padding: 1rem 2rem;
}


// Global Hacker link style
a {
    color: $cyber-blue;
    text-decoration: none;

    &:hover {
        text-shadow: $neon-glow;
    }
}
