@use './variables' as *;
@use './animations' as *;

//Values for different screens to assure site is visual pleasing on all devices

@mixin respond-to($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == "desktop" {
    @media (min-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == "large-desktop" {
    @media (min-width: $breakpoint-xl) { @content; }
  } @else if $breakpoint == "ultra-wide" {
    @media (min-width: $breakpoint-xxl) { @content; }
  }
}

@mixin full-height {
  min-height: 100vh; /*the fall back for older browsers */
  min-height: 100dvh; /* Modern standard  */
}

//glass effect
@mixin glass-panel ($opacity: 0.1, $blur: 10px) {
  background: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur); // Safari support
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

// blobs

@mixin background-blob($color, $size: 300px, $opacity: 0.4, $duration: 20s) {
  width: $size;
  height: $size;
  background-color: $color;
  opacity: $opacity;
  filter: blur(80px); //Create the 'glow' effect
  border-radius: 50%;
  position: absolute;
  pointer-events: none; // Ensure no interference with clicks

  // the animation
  animation: float-blob $duration ease-in-out infinite;
}